html,body {
    height: 100%;
    line-height: 1.0;
}


.sidebar > .btn-group-vertical {
    margin-top: 10px;
    width: 100%;
}

.sidebar {
    -ms-flex: 0 0 110px;
    flex: 0 0 110px;
}
.sidebar > *{
    vertical-align:top;
}



/* remove border from focused or active items */
:focus, :active, .active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.static {
    pointer-events: none;
}

.dropright .dropdown-toggle {
    width: 20px;
}
.dropleft .dropdown-toggle {
    width: 20px;
}

.btn-group-vertical .dropleft {
    width: 20px;
}

.btn-group-vertical .dropright {
    width: 20px;
}

.dropdown-menu {
    font-size: 12px;
    line-height: 1.5;
    min-width: 10rem;
}

.dropdown-item {
    padding: 0.1rem 0.6rem;
}


.nscope-power-usage-bar {
    pointer-events: none;
    position: relative;
    display:inline-block;
}

.nscope-power-usage-bar .nscope-power-usage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.nscope-usb-disconnected {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /* visibility: hidden; */
}

#usb-status-bar,#usb-status {
    width: 90px;
    overflow: hidden;
    visibility: hidden;
}

/* .dropdown-toggle-split:hover + .dropdown-menu {
    display: block;
   } */