html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar > .btn-group-vertical {
    margin-top: 10px;
    width: 100%;
}

.sidebar {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
}

.sidebar > * {
    vertical-align: top;
}

.btn:disabled, .btn.disabled, .disabled {
    pointer-events: none;
    opacity: 0.30;
}

/* remove border from focused or active items */
:focus, :active, .active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.static {
    pointer-events: none;
}

.dropright .dropdown-toggle {
    width: 20px;
}

.dropleft .dropdown-toggle {
    width: 20px;
}

.btn-group-vertical .dropleft {
    width: 20px;
}

.btn-group-vertical .dropright {
    width: 20px;
}

.dropdown-menu {
    font-size: 12px;
    line-height: 1.5;
    min-width: 12rem;
}

.dropdown-item {
    padding: 0.1rem 0.6rem;
}

.hidden {
    visibility: hidden;
}

#horizontal-info {
    width: 140px;
}

#time-per-div {
    width: 80px;
}

#sample-rate {
    width: 60px;
    line-height: 0.9;
    font-size: x-small;
}

#version-display {
    font-size: x-small;
    font-weight: 300;
}

#transient-message-display {
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    margin: 15px 50px;
    width: calc(100% - 100px);
    border: white solid 1px;
    border-radius: 10px;
    font-size: small;
    font-weight: 300;
}

label.editing {
    border-bottom: white dashed 1px;
    padding-bottom: 2px;
}

label {
    border-bottom: transparent solid 1px;
    padding-bottom: 2px;
}

.label-edit {
    float: right;
    padding-top: 2px;
}