.js-plotly-plot .plotly .cursor-pointer {
    cursor: default !important;
}

.shapelayer > [data-index="2"] {
    clip-path: none !important;
}


/* For modifying the editable function of shapes
.shapelayer > .visual-cue {
    visibility: hidden;
}

.shapelayer > [data-index="0"] {
    pointer-events: none !important;
}
 */