#nlab-power-usage-bar {
    pointer-events: none;   
    display: grid;
    align-items: stretch;
}

#nlab-power-usage-bar > * {
    grid-area: 1 / 1;
}

#nlab-power-usage {
    justify-self: start;
    height: 100%;
    display: flex;
    align-items: stretch;
}

#usb-status {
    width: 100px !important;
    min-width: 100px !important;
    vertical-align: top;
}

#nlab-power-usage-bar .btn {
    width: 100px;
}
