html,body {
    height: 100%;
    line-height: 1.0;
}

.sidebar > .btn-group {
    margin-top: 10px;
    width: 100%;
}

.sidebar {
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}
.sidebar > *{
    vertical-align:top;
}

/* remove border from focused or active items */
:focus, :active, .active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.static {
    pointer-events: none;

}

.dropright .dropdown-toggle
{
    width: 24px;
}
.dropleft .dropdown-toggle
{
    width: 24px;
}