html,body {
    height: 100%;
    /* background-color: #555; */
}

/* .sidebar .btn:not(.dropdown-toggle-split) {
    width: 100%;
} */

.sidebar > .btn-group {
    margin-top: 10px;
    width: 100%;
}

.sidebar {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
}
.sidebar > *{
    vertical-align:top;
}

/* remove border from focused or active items */
:focus, :active, .active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.static {
    pointer-events: none;

}